## Exercise

Let us look at an exercise to practice your pandas skills.We will be using San Francisco salary dataset from Kaggle for all the tasks in this exercise.

**Import pandas**

In [8]:
import pandas as pd
import numpy as np

**Read Salaries.csv as a dataframe called sal.**

In [9]:
sal = pd.read_csv(r"D:\AIML_PROGRAM\archive (2)\SalariesInSanFranciscoDataSet.csv")

C:\Users\Precision 7520\AppData\Local\Temp\ipykernel_18916\579256659.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv(r"D:\AIML_PROGRAM\archive (2)\SalariesInSanFranciscoDataSet.csv")

**Check the head of the DataFrame.**

In [10]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [11]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [12]:
pd.to_numeric(sal['BasePay'], errors='coerce').mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [20]:
pd.to_numeric(sal['OvertimePay'], errors='coerce').max()

245131.88

**What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is may also a lowercase Joseph Driscoll).**

In [21]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0]

'CAPTAIN, FIRE SUPPRESSION'

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [15]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [22]:
salu  = sal['TotalPayBenefits'].max()
sal[sal['TotalPayBenefits'] == salu]['EmployeeName'].values[0]

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Did you notice something strange about how much he or she is paid?**

In [23]:
salo  = sal['TotalPayBenefits'].min()
sal[sal['TotalPayBenefits']== salo]['EmployeeName'].values[0]

'Joe Lopez'

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [26]:
sal.groupby('Year')['BasePay'].mean()

AttributeError: 'SeriesGroupBy' object has no attribute 'loc'

**How many unique job titles are there?**

In [28]:
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [19]:
sal['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

### END