## STRINGS

In [2]:
Str 3 = '''Fadh
UMAR
Haneef
'''

SyntaxError: invalid syntax (4094064767.py, line 1)

## SLICING and INDEXING

In [8]:
a = 'Innovation'
a[7]
a[0:10:3]

'Iot'

In [6]:
 fruit = "Mango"
fruit[-2]
fruit [1:4]

'ang'

In [5]:
animal = "Elephant"
animal [4]

'h'

In [9]:
animal [:6]

'Elepha'

In [ ]:
animal [:1]

## STRING IMMUTABILITY

Strings are immutable, they cannot be changed once they have been created and defined

In [10]:
str1 = 'Water'
str2 = 'Melon'

In [11]:
str1 + str2

'WaterMelon'

In [12]:
str1 *3

'WaterWaterWater'

## ESCAPE CHARACTERS

An escape character inserts characters that are otherwise impossible to add to a string. An escape character consists of a backslash (\) followed by the character that you want to add to the string.

In [14]:
text = "Temi's bag is on the chair"

In [15]:
text

"Temi's bag is on the chair"

In [16]:
print (text)

Temi's bag is on the chair

In [17]:
file = r"C:\Users\fadhl\Desktop\RAIN\python"

In [18]:
file

'C:\\Users\\fadhl\\Desktop\\RAIN\\python'

In [20]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [23]:
german ="elefant"

In [24]:
print(animal.translate(german))

Elephant

In [25]:
year =2021
when =' I was born in {}'
when = when.format(year)
print (when)

 I was born in 2021

## DELETING THROUGH A CODE

In [5]:
mixed =['hey','good afternoon', 'good day', 'hello']

mixed

In [6]:
mixed

['hey', 'good afternoon', 'good day', 'hello']

In [7]:
del mixed[2]

In [8]:
mixed

['hey', 'good afternoon', 'hello']

In [31]:
# looping through a list
for greeting in mixed:
    print (greeting)

hey
good afternoon
hello

In [10]:
len(mixed)

3

In [9]:
#loop through lists by refering to their index number
#using the range() and len() functions
for i in range(len(mixed)):
    print(i+1, mixed[i])

1 hey
2 good afternoon
3 hello

## USING ENUMERATE

In [11]:
enumerate(mixed)

In [12]:
list(enumerate(mixed))

[(0, 'hey'), (1, 'good afternoon'), (2, 'hello')]

In [15]:
# using index & values
for index, values in (enumerate(mixed)):
    print(index, values)

0 hey
1 good afternoon
2 hello

In [18]:
for index, values in (enumerate(mixed,1)):
    print(index ,values)

1 hey
2 good afternoon
3 hello

In [20]:
#breaking the for loop using the if
for x in mixed:
    if x == "good afternoon":
        break
print (x)

good afternoon

In [21]:
#breaking the for loop with the if statement coming after the print
for x in mixed:
    print (x)
    if x== "good afternoon":
        break

hey
good afternoon

In [22]:
#using continue statement

for x in mixed:
    print (x)
    if x== "good afternoon":
        continue

hey
good afternoon
hello

In [28]:
#using else in for loop
for x in mixed:
    print (x)
    if x== "hey":
        break
else:
    print ("done")

hey

In [31]:
# nested loop -a loop in a loop
adj= ["red", "blue", "orange"]
fruits= ["Mango", "Banana", "Cashew"]

for x in adj:
    for y in fruits:
        print(x,y)

red Mango
red Banana
red Cashew
blue Mango
blue Banana
blue Cashew
orange Mango
orange Banana
orange Cashew

In [32]:
#using a while loop to go through a list

#initialize a loop to a variable
x=0
while x < len(mixed):
    print(mixed[x])
    x=x+1

hey
good afternoon
hello

In [34]:
# list comprehension
[print(x) for x in mixed]

hey
good afternoon
hello

[None, None, None]

In [35]:
#list operators

adj + fruits

['red', 'blue', 'orange', 'Mango', 'Banana', 'Cashew']

In [36]:
"red" not in adj

False

In [92]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [38]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
mixed.append("hi")

In [40]:
mixed

['hey', 'good afternoon', 'hello', 'hi']

In [41]:
quote ="Abandon"
fruits =["Banana", "Mango", "Apple" ,"Grape"]

In [42]:
list(quote)

['A', 'b', 'a', 'n', 'd', 'o', 'n']

In [43]:
sent ="Ade likes banana and orange"

In [44]:
list_sent=sent.split()
list_sent

['Ade', 'likes', 'banana', 'and', 'orange']

In [45]:
#convert list to a string
sent2 = " ".join(list_sent)
sent2

'Ade likes banana and orange'

In [47]:
# comprehension
numbers=[1, 2, 3, 4, 5, 6, 7, 8, 9]
squares= []
for x in numbers:
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
[x**2 for x in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## TUPLES

They are used to store multiple items in a single variable. A tuple is a collection which is ordered in immutable. They are enclosed in parenthesis().

In [49]:
tuple1 = ("you", "i", "we","for" ,"they", "them")
type(tuple1)

tuple

In [50]:
#a tuple withuout parenthesis
mixed_tuple = 'Brian', '25-04-1997', 23 , 65.8

In [51]:
#accessing items and elements in a tuple using slicing and indexing
mixed_tuple[1:3]

('25-04-1997', 23)

In [52]:
#tuple asssignment
x,y,z =("ma", "sir", "they",)
x

'ma'

In [53]:
#tuple assignments with lists
name, age ,height =["Tobi", 23, 5.3]
print(f'My name is {name} and i am {age} years old with a height of {height} feet')

My name is Tobi and i am 23 years old with a height of 5.3 feet

In [54]:
#using the tuple method to make a tuple
tuple3 = (("you", "i", "we","for" ,"they", "them"))

In [55]:
tuple3

('you', 'i', 'we', 'for', 'they', 'them')

In [61]:
#looping through tuple
for x in tuple3:
    print(x)

you
i
we
for
they
them

In [62]:
list(enumerate(tuple3))

[(0, 'you'), (1, 'i'), (2, 'we'), (3, 'for'), (4, 'they'), (5, 'them')]

In [63]:
for index, values in (enumerate(tuple3)):
    print(index, values)

0 you
1 i
2 we
3 for
4 they
5 them

In [67]:
for index, values in (enumerate(tuple3, 1)):
    print(index, values)

1 you
2 i
3 we
4 for
5 they
6 them

In [68]:
x=0
while x < len(tuple3):
    print(tuple3[x])
    x=x+1

you
i
we
for
they
them

In [72]:
for x in tuple3:
    print (x)
    if x=="we":
        break

you
i
we

In [74]:
for x in tuple3:
    if x=="we":
        break
    print(x)

you
i

In [75]:
tuple1+tuple3

('you',
 'i',
 'we',
 'for',
 'they',
 'them',
 'you',
 'i',
 'we',
 'for',
 'they',
 'them')

In [76]:
tuple1 *3

('you',
 'i',
 'we',
 'for',
 'they',
 'them',
 'you',
 'i',
 'we',
 'for',
 'they',
 'them',
 'you',
 'i',
 'we',
 'for',
 'they',
 'them')

In [93]:
"they" in tuple3

True

In [78]:
"they" in tuple3

True

In [81]:
"that" in tuple1

False

In [84]:
#tuple methods
(dir(tuple))

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [87]:
tuple3.count("them")

1

In [88]:
tuple.index?

In [91]:
tuple3.index("them")

5

## SETS

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries.

In [94]:
set1={"you", "we", "i", "we", "for", "you", "they", "them"}
set1

{'for', 'i', 'them', 'they', 'we', 'you'}

In [96]:
set2 ={"Tolu", "Tola", 54.9, 2}
set2

{2, 54.9, 'Tola', 'Tolu'}

In [97]:
#looping through a set
for x in set2:
    print(x)

54.9
2
Tola
Tolu

In [98]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [99]:
set2.add(45)

In [100]:
set2"

SyntaxError: unterminated string literal (detected at line 1) (402459531.py, line 1)

In [102]:
set2

{2, 45, 54.9, 'Tola', 'Tolu'}

In [103]:
for x in set2:
    print (x)

2
Tola
45
54.9
Tolu

In [107]:
for x in set2:
    if x ==54.9:
        break
    print (x)

2
Tola
45

In [110]:
for x in set2:
    print (x)
    if x==54.9:
        break

2
Tola
45
54.9

In [111]:
list(enumerate(set2))

[(0, 2), (1, 'Tola'), (2, 45), (3, 54.9), (4, 'Tolu')]

In [112]:
for index,values in enumerate(set2):
    print(index,values)

0 2
1 Tola
2 45
3 54.9
4 Tolu

In [113]:
for index,values in enumerate(set2 ,1):
    print(index,values)

1 2
2 Tola
3 45
4 54.9
5 Tolu

In [124]:
x=0
while x < len(set2):
    print(set2[x])
    x=x+1

TypeError: 'set' object is not subscriptable

In [125]:
set2 &set1

set()

In [126]:
set2 -set1

{2, 45, 54.9, 'Tola', 'Tolu'}

In [136]:
# converting string to set

a= set('abracadabra')
b= set('alabama')

In [137]:
a-b  # in a and not in b

{'c', 'd', 'r'}

In [130]:
b-a  #in b and not in a

{'l', 'm'}

In [131]:
b+a  # in and not in a

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [132]:
a |b #in a and b

{'a', 'b', 'c', 'd', 'l', 'm', 'r'}

In [133]:
a^b #

{'c', 'd', 'l', 'm', 'r'}

In [138]:
a&b

{'a', 'b'}

In [1]:
a =[
    (3,5),
    (4,8), 
    (5,9,1,3),
    (10,2,6)
]

In [2]:
type(a)

list

In [5]:
a[2][1]

9

## DICTIONARIES

*Collection of key:value pairs that is unordered, indexed, and mutable

*can be of any data types

*Dictionaries are written with curly brackets

In [46]:
details ={
    "Name": "Fadh",
    "Gender": "Male",
    "Age": 19,
    "Height": 170.5,
    "Weight" : 82 
}

In [8]:
type(details)

dict

## DICTIONARY ITEMS
*Ordered,Changeable, do not allow duplicates

*Can be refered to using their key names

In [9]:
details["Name"]

'Fadh'

In [10]:
details["Gender"]

'Male'

In [11]:
len(details)

5

In [12]:
#add a new key and value
details["Location"] = "Nigeria"

In [14]:
#printing new variable
details

{'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 19,
 'Height': 170.5,
 'Weight': 82,
 'Location': 'Nigeria'}

In [15]:
#the keys present in details
details.keys()

dict_keys(['Name', 'Gender', 'Age', 'Height', 'Weight', 'Location'])

In [16]:
#the values present in a dictionary
details.values()

dict_values(['Fadh', 'Male', 19, 170.5, 82, 'Nigeria'])

In [24]:
#the items present in a dictionary
details.items()

dict_items([('Name', 'Fadh'), ('Gender', 'Male'), ('Age', 19), ('Height', 170.5), ('Weight', 82), ('Location', 'Nigeria')])

## ACCESSING ITEMS IN A DICTIONARY

Although a dictionary is unordered, we can access any of its items because it is indexed

In [27]:
#using the get method
details.get('Location')

'Nigeria'

In [47]:
details

{'Name': 'Fadh', 'Gender': 'Male', 'Age': 19, 'Height': 170.5, 'Weight': 82}

In [28]:
#if a key does not exist
details.get('Surname') == ""

In [29]:
print(f"{details['Name']} is {details['Age']} years old")

Fadh is 19 years old

In [30]:
#Changing the valuse of a key
details['Age'] =15

In [31]:
details

{'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 15,
 'Height': 170.5,
 'Weight': 82,
 'Location': 'Nigeria'}

In [32]:
details.update({'Weight' : 60})

In [33]:
details

{'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 15,
 'Height': 170.5,
 'Weight': 60,
 'Location': 'Nigeria'}

In [39]:
details['Height'] = 170.8

In [41]:
#deleting a value using the pop method
details.pop('Height')

170.8

In [42]:
details

{'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 15,
 'Weight': 60,
 'Location': 'Nigeria',
 'Complexion': 'Black'}

In [37]:
del details['Height']

In [38]:
details

{'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 15,
 'Weight': 60,
 'Location': 'Nigeria',
 'Complexion': 'Black'}

In [43]:
#using the clear method
details.clear()

In [44]:
details

{}

## LOOPING THROUGH A DICTIONARY

In [48]:
# to get key using for method
for x in details:
    print(x)

Name
Gender
Age
Height
Weight

In [49]:
# to get values using for method
for x in details:
    print (details[x])

Fadh
Male
19
170.5
82

In [50]:
# using (.values) to access the values
for x in details.values():
    print (x)

Fadh
Male
19
170.5
82

In [51]:
# using (.keys) to access the keys
for x in details.keys():
    print (x)

Name
Gender
Age
Height
Weight

In [52]:
# using (.items) to access the items
for x in details.items():
    print (x)

('Name', 'Fadh')
('Gender', 'Male')
('Age', 19)
('Height', 170.5)
('Weight', 82)

In [53]:
# access the (key & value) in (.items)
for key,value in details.items():
    print (key,value)

Name Fadh
Gender Male
Age 19
Height 170.5
Weight 82

In [54]:
#to copy 
mydetails = details.copy()

In [55]:
mydetails

{'Name': 'Fadh', 'Gender': 'Male', 'Age': 19, 'Height': 170.5, 'Weight': 82}

In [56]:
mydetails =dict(details)
mydetails

{'Name': 'Fadh', 'Gender': 'Male', 'Age': 19, 'Height': 170.5, 'Weight': 82}

## NESTED DICTIONARIES

*A dictionary that contains another dictionary

In [60]:
Rain ={
 "Student1": {'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 15,
 'Height': 183,
 'Weight': 60,
 'Location': 'Nigeria',
 'Complexion': 'Black'}, 
    
"Student2": {'Name': 'Tolu',
 'Gender': 'Female',
 'Age': 24,
 'Height': 166,
 'Weight': 50,
 'Location': 'Nigeria',
 'Complexion': 'Fair',
},
 "Student3": {'Name': 'Emeka',
 'Gender': 'Male',
 'Age': 20,
 'Height': 156,
 'Weight':74.0,
 'Location': 'Nigeria',
 'Complexion': 'Black',
},
   "Student4": {'Name': 'Audu',
 'Gender': 'Male',
 'Age': 17,
 'Height': 178,
 'Weight':67.4,
 'Location': 'Cameroon',
 'Complexion': 'Black',
}
    
}

In [61]:
Rain

{'Student1': {'Name': 'Fadh',
  'Gender': 'Male',
  'Age': 15,
  'Height': 183,
  'Weight': 60,
  'Location': 'Nigeria',
  'Complexion': 'Black'},
 'Student2': {'Name': 'Tolu',
  'Gender': 'Female',
  'Age': 24,
  'Height': 166,
  'Weight': 50,
  'Location': 'Nigeria',
  'Complexion': 'Fair'},
 'Student3': {'Name': 'Emeka',
  'Gender': 'Male',
  'Age': 20,
  'Height': 156,
  'Weight': 74.0,
  'Location': 'Nigeria',
  'Complexion': 'Black'},
 'Student4': {'Name': 'Audu',
  'Gender': 'Male',
  'Age': 17,
  'Height': 178,
  'Weight': 67.4,
  'Location': 'Cameroon',
  'Complexion': 'Black'}}

In [62]:
Student1 = {'Name': 'Fadh',
 'Gender': 'Male',
 'Age': 15,
 'Height': 183,
 'Weight': 60,
 'Location': 'Nigeria',
 'Complexion': 'Black'}

In [63]:
Student2 = {'Name': 'Tolu',
 'Gender': 'Female',
 'Age': 24,
 'Height': 166,
 'Weight': 50,
 'Location': 'Nigeria',
 'Complexion': 'Fair',
}

In [64]:
Student3 = {'Name': 'Emeka',
 'Gender': 'Male',
 'Age': 20,
 'Height': 156,
 'Weight':74.0,
 'Location': 'Nigeria',
 'Complexion': 'Black',
}

In [65]:
Student4 =  {'Name': 'Audu',
 'Gender': 'Male',
 'Age': 17,
 'Height': 178,
 'Weight':67.4,
 'Location': 'Cameroon',
 'Complexion': 'Black',
}

In [66]:
Rain1 ={"Student1": Student1,
       "Student2": Student2,
       "Student3": Student3,
       "Student4": Student4
}

In [67]:
Rain1

{'Student1': {'Name': 'Fadh',
  'Gender': 'Male',
  'Age': 15,
  'Height': 183,
  'Weight': 60,
  'Location': 'Nigeria',
  'Complexion': 'Black'},
 'Student2': {'Name': 'Tolu',
  'Gender': 'Female',
  'Age': 24,
  'Height': 166,
  'Weight': 50,
  'Location': 'Nigeria',
  'Complexion': 'Fair'},
 'Student3': {'Name': 'Emeka',
  'Gender': 'Male',
  'Age': 20,
  'Height': 156,
  'Weight': 74.0,
  'Location': 'Nigeria',
  'Complexion': 'Black'},
 'Student4': {'Name': 'Audu',
  'Gender': 'Male',
  'Age': 17,
  'Height': 178,
  'Weight': 67.4,
  'Location': 'Cameroon',
  'Complexion': 'Black'}}

In [70]:
#access items in a nested dictionary
print(Rain1["Student4"]["Location"])

Cameroon

In [71]:
print(Rain1["Student2"]["Weight"])

50

In [72]:
print(Rain1["Student4"]["Complexion"])

Black

In [79]:
#Looping through Nested dictionaries using the items() method
for key,values in Rain.items():
    print(key)
    for x in values:
        print(x + ":", values[x])

Student1
Name: Fadh
Gender: Male
Age: 15
Height: 183
Weight: 60
Location: Nigeria
Complexion: Black
Student2
Name: Tolu
Gender: Female
Age: 24
Height: 166
Weight: 50
Location: Nigeria
Complexion: Fair
Student3
Name: Emeka
Gender: Male
Age: 20
Height: 156
Weight: 74.0
Location: Nigeria
Complexion: Black
Student4
Name: Audu
Gender: Male
Age: 17
Height: 178
Weight: 67.4
Location: Cameroon
Complexion: Black

## DICTIONARY OPERATORS

It has two object operators: in and not in. These operators check if the key exists in the dictionary

In [80]:
details

{'Name': 'Fadh', 'Gender': 'Male', 'Age': 19, 'Height': 170.5, 'Weight': 82}

In [81]:
"Name" in details

True

## SWITCHING DATA STRUCTURES

In [82]:
#switching data structures
mylist= ["Name", "Tola", 20, 0.95, 28, "Wunmi", "Lagos"]
mylist

['Name', 'Tola', 20, 0.95, 28, 'Wunmi', 'Lagos']

In [83]:
mylisttup = tuple(mylist)

In [84]:
mylisttup

('Name', 'Tola', 20, 0.95, 28, 'Wunmi', 'Lagos')

In [85]:
type(mylisttup)

tuple

In [86]:
myset = set(mylist)

In [87]:
myset

{0.95, 20, 28, 'Lagos', 'Name', 'Tola', 'Wunmi'}

In [88]:
my_list = list(myset)

In [89]:
my_list

[0.95, 'Wunmi', 20, 'Name', 'Lagos', 28, 'Tola']

In [90]:
set1 = {1,2}

In [91]:
set2 = {3,4}

In [93]:
set1 & set2

set()

In [94]:
dict(((1,2),(3,4)))

{1: 2, 3: 4}

In [98]:
dict([("Name", "Emmanuel"), ("Place", "Lagos")])

{'Name': 'Emmanuel', 'Place': 'Lagos'}

## SORTING DATA TYPES

In [102]:
a= [2, 5,1,8,4,0,2,6]
a.sort()
a

[0, 1, 2, 2, 4, 5, 6, 8]

In [104]:
colour= ["red", "blue", "white", "Black", "Yellow", "green"]
colour.sort()
colour

['Black', 'Yellow', 'blue', 'green', 'red', 'white']

In [119]:
b= ['Fadh', 5.0, 4,'Green','Goat']
d=list(map(str, b))
d

['Fadh', '5.0', '4', 'Green', 'Goat']

In [121]:
d.sort()

In [122]:
d

['4', '5.0', 'Fadh', 'Goat', 'Green']

In [126]:
d.sort(reverse =False)

In [127]:
d

['4', '5.0', 'Fadh', 'Goat', 'Green']

In [128]:
sorted(d)

['4', '5.0', 'Fadh', 'Goat', 'Green']

In [129]:
myset

{0.95, 20, 28, 'Lagos', 'Name', 'Tola', 'Wunmi'}

In [130]:
d=(map(str,myset))

In [131]:
d

In [132]:
sorted(d)

['0.95', '20', '28', 'Lagos', 'Name', 'Tola', 'Wunmi']

In [133]:
mylisttup

('Name', 'Tola', 20, 0.95, 28, 'Wunmi', 'Lagos')

In [134]:
tup =(map(str,mylisttup))

In [135]:
sorted(tup)

['0.95', '20', '28', 'Lagos', 'Name', 'Tola', 'Wunmi']

## ZIP FUNCTIONS()
The zip function combines 2 or more sequences or iterators together into a list of tuples. If the sequences are of different lengths, the smallest length determines the length of the zip objects. Zip function can be very useful for creating a dictionary.

In [136]:
Student1.key

AttributeError: 'dict' object has no attribute 'key'

In [137]:
Student1.key()

AttributeError: 'dict' object has no attribute 'key'

In [138]:
Student1.keys()

dict_keys(['Name', 'Gender', 'Age', 'Height', 'Weight', 'Location', 'Complexion'])

In [139]:
Student1.values()

dict_values(['Fadh', 'Male', 15, 183, 60, 'Nigeria', 'Black'])

In [146]:
Student1keys= ['Name', 'Gender', 'Age', 'Height', 'Weight', 'Location', 'Complexion']

In [143]:
Student1values= ['Fadh', 'Male', 15, 183, 60, 'Nigeria', 'Black',45, 'Umar']

In [144]:
zip?

In [148]:
list(zip(Student1keys, Student1values))

[('Name', 'Fadh'),
 ('Gender', 'Male'),
 ('Age', 15),
 ('Height', 183),
 ('Weight', 60),
 ('Location', 'Nigeria'),
 ('Complexion', 'Black')]

## VARIABLES

A variable is used to store a single value or results of an expression in the computer's memory for later use. Assignment operators are used to assign a value to a variable.

Rules for choosing variable names are:

Variable names can contain letters and number
Can contain underscore (used preferably for multi word variable names eg my_name)
Cannot start with a number
Should not contain keywords (keywords are used to understand the structure of the program)
Should be meaningful and describes what the value is used for
Preferably, should start with lower case
Preferably, should not start withanunderscore

## FUNCTION

A function is a named block of code. Before now, we have been using some Python built-in functions like print(), len(), input() and type(). Python allows users to create user-defined functions. To define a function, we need to specify its name, parameters (which are optional) and block of code. A function can also return result using the return keyword. Let's write an example of a user-defined function that returns True if a number is even, otherwise it returns False.

function eliminatecoderepetition

In [149]:
def my_function():
    print("Hello")

In [150]:
my_function()

Hello

### ARGUMENTS

Arguments are specified after the function name, in the parenthesis. Many arguments are wriiten in the parenthesis, but the must be seperated by a comma.

In [1]:
def name(first_name):

SyntaxError: incomplete input (2354584367.py, line 2)

In [6]:
def My_kids(*kids):
    print("The oldest child is"  +  kids[0])

In [7]:
My_kids("Tola","Tolu","Bolu")

The oldest child isTola

In [1]:
#default parameter value
def my_country(country ="Nigeria"):
    print("I am from " + country)

In [2]:
my_country()

I am from Nigeria

In [10]:
#pass a list as can argument
def cravings(food):
    for x in food:
        print(x)

In [11]:
food =["Pizza","Burger", "Suya", "Barbeque", "Shawarma", ]

In [12]:
cravings(food)

Pizza
Burger
Suya
Barbeque
Shawarma

In [13]:
#return values

def value(x):
    return 5*x
value(8)

40

In [25]:
def is_even(numbers):
    if numbers %2 ==0:
        return True
    else:
        return False

In [26]:
print(is_even(8))

True

In [27]:
def print_even_number(n):
    if n <= 1:
        print("The value of n must be greater than 1")
    else:
        for num in range(1,n+1):
            if(is_even(num)):
                print(num)

In [28]:
print_even_number(8)

2
4
6
8

In [29]:
def addition(*numbers):
    total = 0
    for x in numbers:
        total += x
    print(total)

In [30]:
addition(1,2,3,4,5,6,7,8,9)

45

In [33]:
def multiplication(*numbers):
    total =1
    for x in numbers:
        total *= x
    print (total)

In [35]:
multiplication(3,5,7,8)

840

In [40]:
def recursive_factorial(n):
    if n ==1:
        return n
    else:
        return n * recursive_factorial(n-1)

In [41]:
recursive_factorial(5)

120