## STRINGS AND DATA STRUCTURES

In the previous lectures, we have discussed variables and some primitive data types and we used variables to store a single value.  In this lesson, we would talk more on the string datatype and learn about other data types which allows us to store mutiple values to a variable.

## STRINGS

A string is a sequence of characters. In Python, strings are enclosed in single or double quotes. Enclosing strings in double quotes allows us to have a single quote in the string. 
For string values that spans across multiple lines, we use three single/double quotes to denote such strings.

In [1]:
str1 = 'My name is Alice.'

In [2]:
str2 = "Hannah's friend is the owner of the bicycle."

In [2]:
text = '''Today was a very exciting day at school for the students as we had an award ceremony. 
The best students were given very expensive gifts.'''

In [4]:
print(text)

Today was a very exciting day at school for the students as we had an award ceremony.
The best students were given very expensive gifts.

## STRING INDEXING AND SLICING

To access element(s) in a string, we use square brackets with the element's index or position enclosed within the brackets. In Python and some other programming languages, index starts at 0.

In [4]:
a = 'mango'
a[0]

'm'

In [5]:
a[-2]

'g'

In [6]:
print(str1[0])

M

In [7]:
print(str1[8])

i

Python allows us to use negative indexing. Negative indexing starts at the end of the end of string to retrieve elements. To get the last element in a string, we use -1 as index,

In [8]:
print(str2[-1])

.

In [9]:
print(text[-2])

s

We can obtain a slice of a string by specifying the start and end index. Please, note that the element at the specified end index is not always included.

In [5]:
car = 'Toyota'
car[0:3]

'Toy'

In [11]:
car[1:4]

'oyo'

In [12]:
print(car[-6:-1])

Toyot

When trying to retrive a slice of a string, we can omit the start and/or end index. Omitting the start index would retrieve a string slice from the start of the string to the specified end index while omitting the end index would retrieve a string slice from the specified start index to the end of the string. Omitting both would retrive the entire string.

In [13]:
print(car[:3])

Toy

In [14]:
print(car[3:])

ota

In [15]:
print(car[:])

Toyota

In [6]:
print(car[::-1])

atoyoT

## STRING IMMUTABILITY

Strings are immutable i.e. they cannot be changed once they have been created. Mutating a string would throw an error.

In [7]:
car

'Toyota'

In [8]:
car[0] ='m'

TypeError: 'str' object does not support item assignment

## STRING OPERATORS

Just like the numeric data types, Strings have its own operators. 

|**OPERATOR**|**DESCRIPTION**|**EXAMPLE**|
|------------|---------------|-----------|
|+|concatenates or joins two or more strings together| str1 + str2|
|`*`|duplicates a string a number of specified times| str1 * 3|
|in|returns True if the specified element/string slice is in the string. Otherwise returns False| 'a' in str1|
|not in| returns True if the specified element/string slice is not in the string. Otherwise returns False.| 'an' not in str2|

In [9]:
str1 = 'Water'
str2 = 'melon'

In [10]:
str3 = str1+str2
print(str3)

Watermelon

In [14]:
print(str1  * 4)

WaterWaterWaterWater

In [21]:
str3

'Watermelon'

In [15]:
print('erm' in str3)

True

In [16]:
print('m' not in str2)

False

## ESCAPE CHARACTERS

An escape character is used to insert characters that are otherwise impossible to put into a string. An escape character consists of a backslash (`\`) followed by the character you want to add to the string. An example of such character is using a single quote inside a string enclosed in single quotes.

In [19]:
a ='Alice\'s dog is black in color'
print(a)

Alice's dog is black in color

Some other escape characters used in Python are:

|**code**|**Result**|
|--------|----------|
|`\'`|Single quote|
|`\"`|Double quote|
|`\\`|Backslash|
|\n|New line|
|\r|Carriage return|
|\t|Tab|
|\b|Backspace|

In [25]:
r'C:\Users\Akinyemi\Downloads\UnsupervisedLearning'

'C:\\Users\\Akinyemi\\Downloads\\UnsupervisedLearning'

In [22]:
print('I am a girl.\nI am five years old')

I am a girl.
I am five years old

In [26]:
print('I am a girl.\tI am five years old')

I am a girl.	I am five years old

## RAW STRINGS
Raw strings (denoted as r before the opening quotation marks) are used to completely ignore all escape characters and print any backslash that appears in the string. They are commonly used with Regular Expressions and filepaths.

In [27]:
str1 = r'Alice\'s cat is beautiful'
print(str1)

Alice\'s cat is beautiful

In [28]:
filepath = r'C:\Aminat\Assignment\newfolder'
filepath

'C:\\Aminat\\Assignment\\newfolder'

## STRING METHODS

A method is like a function but it is called on a value using the dot notation. Objects in Python have methods. To see a list of an object's method, we use the dir() function.

In [26]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

To see the docstring/documentation of a specific object's method or understand what the method does, you call the method on the object using the dot notation and adding a ? symbol at the end

In [30]:
str.startswith?

Due to the immutability property of strings, all string methods return a new string. They do not change the original string. Let's see some of the commonly used string methods.

In [28]:
greeting = 'Hello'
#changing a string to upper case
print(greeting.upper())

HELLO

In [29]:
print(greeting)

Hello

In [33]:
greeting.startswith('H', 1)

False

In [34]:
#changing a string to upper case
print(greeting.upper())

HELLO

In [35]:
str.replace?

In [36]:
#Replace an element in a string 
yello = greeting.replace('H','Y')
print(yello)
print(greeting)

Yello
Hello

In [37]:
#Get the index of an element in a string
print(greeting.find('o'))

4

In [38]:
#Count the number of times an element occurs in a string
print(greeting.count('l'))

2

## STRING FORMATTING

As seen in previous lessons, we can't combine strings with numeric data types using the + operator. The format operator, %, allows us to construct a string while replacing a part of the string with values stored in a variable. Below is a table of format operators in python.

|**Format operator**|**Description**|
|-------------------|---------------|
|%c|Character|
|%s|String|
|%i or %d|signed decimal integer|
|%u|Unsigned decimal integer|
|%f|Floating point number|
|%e or %E| Exponential|

In [39]:
price = '£45'
quantity = 3
print('The blender costs %s' %(price))

The blender costs £45

In [40]:
print('%d packs of pencils cost %s' %(quantity, price))

3 packs of pencils cost £45

Another way to combine strings and numeric data types is using the format() method. The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are.

In [41]:
age = 17
txt = "I am {} years old"
txt = txt.format(age)
print(txt)

I am 17 years old

In [42]:
#format() with multiple arguments
food = 'Pizza'
quantity = 3
price = '$20'
order = "I want {} packs of {} for {}"
print(order.format(quantity, food, price))

I want 3 packs of Pizza for $20

The format() method also allows us to  use index numbers {0} or key names to be sure the arguments are placed in the correct placeholders

In [43]:
order = "I want to pay {2} for {0} packs of {1}"
print(order.format(quantity, food, price))

I want to pay $20 for 3 packs of Pizza

In [44]:
#using key names with format()
order = "I want {q} packs of {f} for {p}"
print(order.format(q = quantity, f = food, p = price))

I want 3 packs of Pizza for $20

A shorter version of the format() method is prefixing the opening quote with f and writing the names of the variables within the placeholders.

In [45]:
order = f"I want to order {quantity} packs of {food} for {price}"
print(order)

I want to order 3 packs of Pizza for $20

In [46]:
name = 'Oluwaseun'
print(f"Welcome, {name}")

Welcome, Oluwaseun

## LISTS

A list is a sequence of values which are ordered and mutable (can be modified). Values in a list are called items or elements. Items are enclosed in a square brackets seperated by a comma.

In [35]:
grocery_list =['Bread', 'Rice', 'Oranges', 'Chicken', 'Fish', 'Detergent']

Lists are heteregenous in nature, meaning, items in the lists can be of any datatype including a list.

In [36]:
mixed_list = [1,True, 3.4, 'Apple', [3,5,6.5]]

## LIST INDEXING AND SLICING

List preserves the order in which items are stored / entered (ordered). Because of this property of a list, we can access any item in a list using its index or position. Just like strings, lists are zero-based index.

In [49]:
grocery_list

['Bread', 'Rice', 'Oranges', 'Chicken', 'Fish', 'Detergent']

In [37]:
print(grocery_list[1])

Rice

In [51]:
print(grocery_list[2])

Oranges

To access an item in a nested list, we would have to specify more than one index. The first index would be the index of the nested list and the second index would be the index of the item within the nested list.

In [52]:
mixed_list

[1, True, 3.4, 'Apple', [3, 5, 6.5]]

In [41]:
mixed_list[4][1]

5

In [54]:
print(mixed_list[4][2])

6.5

Just like strings, we can use negative indexing which allows us to access a list items from the end of a list. To retrieve the item at the end of a list, the index is -1.

In [55]:
print(mixed_list[-1])

[3, 5, 6.5]

In [56]:
print(mixed_list[-2])

Apple

We can also retrieve a slice of a list. We just need to specify the start and end index (item at the end index is not included)

In [57]:
grocery_list

['Bread', 'Rice', 'Oranges', 'Chicken', 'Fish', 'Detergent']

In [58]:
print(grocery_list[1:5:3])

['Rice', 'Fish']

If the start index is omitted, Python retrieves the items from the beginning of the list up to the specified end index. If the end index is omitted, Python retrieves the items from the specified start index to the end of the list. What do you think would happen when both the start and end index are omitted?

In [59]:
print(grocery_list[:3])

['Bread', 'Rice', 'Oranges']

In [60]:
print(grocery_list[3:])

['Chicken', 'Fish', 'Detergent']

In [61]:
print(grocery_list[::-1])

['Detergent', 'Fish', 'Chicken', 'Oranges', 'Rice', 'Bread']

## LIST MUTABILITY

Unlike strings, lists are mutable (i.e. they can be modified after it has been created).

In [42]:
mixed_list

[1, True, 3.4, 'Apple', [3, 5, 6.5]]

In [43]:
mixed_list[2] = '5.9'
print(mixed_list)

[1, True, '5.9', 'Apple', [3, 5, 6.5]]

In [44]:
#we can also mutate a slice of the list
mixed_list[:2] = [2,False]
print(mixed_list)

[2, False, '5.9', 'Apple', [3, 5, 6.5]]

The **del** keyword is used to delete an item at the specified index in a list.

In [45]:
del mixed_list[4]
print(mixed_list)

[2, False, '5.9', 'Apple']

## LOOPING THROUGH A LIST

For loops can be used to iterate through a list in different ways. Let's see some examples

In [46]:
for grocery in grocery_list:
    #print('I want to buy', grocery)
    print(f'I want to buy {grocery}')

I want to buy Bread
I want to buy Rice
I want to buy Oranges
I want to buy Chicken
I want to buy Fish
I want to buy Detergent

We can also use the len() function together with the range) function to iterate through a list. Remember, the len() returns the number of items in a sequence.

In [67]:
len(grocery_list)

6

In [68]:
print('Items in my shoppig list are:')
for i in range(len(grocery_list)):
    print(i+1, grocery_list[i])

Items in my shoppig list are:
1 Bread
2 Rice
3 Oranges
4 Chicken
5 Fish
6 Detergent

In the above example, we added 1 to i because by default, range starts from index 0 except when the start index is specified and we do not want to start our numbering with 0. Lists are zero-based index, so there is no need to add 1 when accessing the items in a list.

A better way to write the above example is using the enumerate() function. The enumerate() function allows us the keep count of the iterations. We can specify a start for the count, by default start is 0. Let's see how its done.

In [54]:
list(enumerate(grocery_list))

[(0, 'Bread'),
 (1, 'Rice'),
 (2, 'Oranges'),
 (3, 'Chicken'),
 (4, 'Fish'),
 (5, 'Detergent')]

In [56]:
print('Items in my shopping list are:')
for count,item in enumerate(grocery_list):
    print(count,item)

Items in my shopping list are:
0 Bread
1 Rice
2 Oranges
3 Chicken
4 Fish
5 Detergent

In [57]:
#starting the counter at 1      
print('Items in my shopping list are:')
for  count, item in enumerate(grocery_list, 1):
    print( count, item)

Items in my shopping list are:
1 Bread
2 Rice
3 Oranges
4 Chicken
5 Fish
6 Detergent

## LIST OPERATORS

String's **+, `*`, in** and **not in** operators are also applicable to lists.

In [71]:
A = ['a', 'b', 'c', 'd']
B = [1,2,3,4]

print('List concatenation',A + B)

List concatenation ['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [72]:
print('List replication', A * 2)

List replication ['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [73]:
print(2 in B)

True

In [74]:
print(5 in B)

False

In [75]:
print('e' not in A)

True

In [76]:
print('b' not in A)

False

## LIST METHODS

Each data type has its own methods. List has several useful data types and we will only discuss the commonly used list methods in this notebook. For more information on other list methods, click [Python List Methods](https://docs.python.org/3/tutorial/datastructures.html)

In [77]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
list.append?

In [63]:
colors = ['red', 'blue', 'green']
#Adding a new item to the end of list
colors.append('yellow')
print(colors)

['red', 'blue', 'green', 'yellow']

In [64]:
#Adding a list of items to the end of the list
colors.extend(['purple', 'brown'])
print(colors)

['red', 'blue', 'green', 'yellow', 'purple', 'brown']

In [65]:
#Inserting an item at a specified index
colors.insert(4,'pink')
print(colors)

['red', 'blue', 'green', 'yellow', 'pink', 'purple', 'brown']

In [82]:
#Find the index of the specified item
print(colors.index('yellow'))

3

In [83]:
#sorting the list in ascending order
colors.sort()
print(colors)

['blue', 'brown', 'green', 'pink', 'purple', 'red', 'yellow']

In [84]:
#sorting the list in descending order 
colors.sort(reverse=True)
print(colors)

['yellow', 'red', 'purple', 'pink', 'green', 'brown', 'blue']

## LIST AND STRINGS

List and strings are sequences and they have many things (methods and operators) in common. We can convert a string to a list using the list constructor and split() function and vice versa using the join() function. Let's see how to do these.

In [85]:
fruit = 'watermelon'

In [86]:
list(fruit)

['w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [87]:
a = 'My favourite sport is skipping'

In [69]:
ha.split?

In [71]:
ha = 'ha-haha-ha-haha'
ha.split('-')

['ha', 'haha', 'ha', 'haha']

In [90]:
#converting a string to a list using the list() constructor
fruit_list = list(fruit)
print(fruit_list)

['w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [91]:
#converting a string into a list of strings using the split() method
a_list = a.split()
print(a_list)

['My', 'favourite', 'sport', 'is', 'skipping']

In [92]:
#By default, the split method splits a string using a whitespace as the delimeter. 
ha_list = ha.split('-')
print(ha_list)

['ha', 'haha', 'ha', 'haha']

In [72]:
file_path = r'C:\Users\General\Documents\RAIN-PYTHON PROGRAMMING\RAIN-PYTHON PROGRAMMING\RAIN-PYTHON PROGRAMMING\anitaborg.jpeg'

In [78]:
file_path.split('\\')[-1]

'anitaborg.jpeg'

In [80]:
filename = file_path.split('\\')[-1]

In [81]:
ext = filename.split('.')[-1]
print(filename)
print(ext)

anitaborg.jpeg
jpeg

In [85]:
#converting a list to a string using the join() method
words_list = ['The', 'album', 'was', 'released', 'in', 'the', 'year', '1960']
words = " ".join(words_list)
print(words)

The album was released in the year 1960

## COMPREHNSION

Comprehensions provide a concise way to create a data structure or sequence by using an existing iterable or sequence. Suppose we want to create a list of squares for numbers in another list. We can achieve this in fewer lines of codes using list comprehension.

In [87]:
numbers = [1,2,3,4,5,6,8,9,10]
#without list comprehension
squares = []
for n in numbers:
    squares.append(n**2)
print(squares)

[1, 4, 9, 16, 25, 36, 64, 81, 100]

In [88]:
squares = [n**2 for n in numbers]
squares

[1, 4, 9, 16, 25, 36, 64, 81, 100]

In [89]:
#with list comprehension
#squares = [n**2 for n in numbers]
squares = [n**2 for n in numbers if n%2==0]
print(squares)

[4, 16, 36, 64, 100]

In [101]:
numbers

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [102]:
sq = [n**2 for n in numbers if n%2 ==1]
sq

[1, 9, 25, 81]

We can also use conditionals with list comprehension.

In [90]:
even_numbers = [n**2 if n %2 == 0 else n for n in numbers]
print(even_numbers)

[1, 4, 3, 16, 5, 36, 64, 9, 100]

## TUPLES

A tuple is a sequence of values that is ordered and immutable(unchangeable). Tuples are usually enclosed in parenthesis for readability. If the parenthesis are omitted, the syntax is still valid. Just like Lists, tuples can contain any data type.

In [104]:
#A tuple with only one element. Take note of the comma.
tuple1 = ('apple', )
print(type(tuple1))

<class 'tuple'>

In [1]:
grocery_tuple = ('apple', 'banana', 'milk', 'plantain', 'rice', 'egg')

In [4]:
#A tuple without parenthesis
mixed_tuple = 'Brian', '25-04-1997', 23, 65.8

## ACCESSING ITEMS / ELEMENTS IN A TUPLE

Just like strings and lists, we can access items in a tuple using its index or postion enclosed in square brackets.

In [2]:
print(grocery_tuple[1])

banana

In [108]:
print(grocery_tuple[-1])

egg

In [5]:
print(mixed_tuple[1:3])

('25-04-1997', 23)

In [110]:
print(mixed_tuple[-4:-1])

('Brian', '25-04-1997', 23)

## TUPLE ASSIGNMENT

We can assign a sequence (e.g lists , tuples) elements to more than one variable at a time using a tuple. To avoid a ValueError, the numbers of variables on the left must be equal to the number of values on the right

In [6]:
x,y,z = (3,6,9)
print(x)

3

In [7]:
#Tuple assignments with lists
name, age, height= ['Brian', 25, '5.8ft']
print(f"{name} is {age} years old and {height} tall.")

Brian is 25 years old and 5.8ft tall.

In [8]:
emailAddress = 'pearl@python.org'
(username, domain) = emailAddress.split('@')
print(f'Username: {username}\nDomain: {domain}')

Username: pearl
Domain: python.org

In [9]:
#Tuple assignmet with string
a,b,c = 'cat'
print(c)

t

## TUPLE IMMUTABILITY

Tuples are immutable. Once they have been created, they cannot be modified. Attempting to modify a tuple would result in a TypeError.

In [10]:
grocery_tuple[2] = 'rice'

TypeError: 'tuple' object does not support item assignment

In [11]:
del grocery_tuple[-1]

TypeError: 'tuple' object doesn't support item deletion

As seen in the above, we can't delete an item in a tuple but we can delete the entire tuple using the del keyword.

Let's look at a very interesting scenario. Suppose a tuple has a mutable data structure (e.g list) as one of its items. Can we mutate the list considering tuples are immutable?

In [12]:
tuple2 = (2, [], 3.5)
#tuple2[1]
tuple2[1].append(0)
print(tuple2)

(2, [0], 3.5)

One common mistake people make with immutability and especially with tuples is to assume that data structures / objects inside the tuple are immutable because the tuple is immutable. Even though the tuple itself is immutable, we cannot change the exact objects which it contains, those objects themselves can be mutated if they are mutable.

## LOOPING THROUGH A TUPLE

Just like lists, we can loop through a tuple using for loop.

In [118]:
fruits_tuple = 'banana', 'watermelon', 'guava', 'apple', 'pineapple'
for fruit in fruits_tuple:
    print(fruit)

banana
watermelon
guava
apple
pineapple

In [119]:
#using the enumerate() function with for loop
print('Some fruits in my home country are:')
for index, fruit in enumerate(fruits_tuple,1):
    print(index, fruit)

Some fruits in my home country are:
1 banana
2 watermelon
3 guava
4 apple
5 pineapple

## TUPLE OPERATORS

Just like strings and lists, +, `*`, in and not in operators are also applicable to tuples.

In [13]:
tuple1 = ('a', 'b', 'c', 'd')
tuple2 = (1,2,3,4,5,6,7,8)
#concatenation of tuples
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8)

In [121]:
#Replication of a tuple
print(tuple1*2)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [14]:
#checking if item exists in a tuple
print('b' in tuple1)

True

In [15]:
print(5 not in tuple2)

False

## TUPLE METHODS

Tuples have two built-in methods (count and index).

In [124]:
tuple4 = ( 1,2,4,5,7,3,3,5,7,9,5,1,6)
#Count returns the number of times an item exists in a tuple
print(tuple4.count(5))

3

In [125]:
#Get the index of a specified item in a tuple. returns the first index if the item occurs more than once
print(tuple4.index(7))

4

In [126]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## SETS

A Python set is also similar to a list, except it is unordered and contains only distinct elements/items. It can store heterogeneous data and it is mutable. We can create a set by enclosing the values in curly brackets {}.

In [16]:
example_set ={'Amanda', True, 2, 3.7}
print(example_set)

{True, 2, 3.7, 'Amanda'}

In [17]:
example_set2 = {2,3,4,5,7,5,9,2}
print(example_set2)

{2, 3, 4, 5, 7, 9}

Even though we entered the data in one order, the set data was printed out in a different order. For this reason, we cannot index or slice a set.

## LOOPING THROUGH A SET

In [129]:
#using comprehension to populate a set
even_numbers = { i for i in range(1, 21) if i %2 == 0 }
#print(even_numbers)
for even_num in even_numbers:
    print(even_num)

2
4
6
8
10
12
14
16
18
20

## SET METHODS

Set has several methods. Let's see some of them in practice. For more methods on set, click [Set methods](https://docs.python.org/2/library/sets.html)

In [130]:
#Add an item to a set
even_numbers.add(52)
print(even_numbers)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 52}

In [131]:
#Add multiple items to a set
even_numbers.update({24,26,28,30})
print(even_numbers)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 52, 24, 26, 28, 30}

In [132]:
#Remove an item from the set. remove() raises an error if the item is not present, discard() doesn't.
even_numbers.remove(2)
print(even_numbers)

{4, 6, 8, 10, 12, 14, 16, 18, 20, 52, 24, 26, 28, 30}

In [133]:
even_numbers.discard(2)

In [134]:
#joins two sets together
print(even_numbers.union({2, 34, 56}))

{2, 56, 4, 34, 6, 8, 10, 12, 14, 16, 18, 20, 52, 24, 26, 28, 30}

In [135]:
#return elements common to both sets
print(even_numbers.intersection({1,2,3,4,5,6,7,8,9,10}))

{8, 10, 4, 6}

In [136]:
#checks if a set is a subset of another set
print({4,6,8}.issubset(even_numbers))

True

In [137]:
#check if a set is a superset of another set
print(even_numbers.issuperset({10,12,4,16}))

True

In [138]:
#Return the difference between two sets
print(even_numbers.difference({1,2,3,4,5,6,7,8,9,10}))

{12, 14, 16, 18, 20, 52, 24, 26, 28, 30}

In [139]:
print({1,2,3,4,5,6,7,8,9,10}.difference(even_numbers))

{1, 2, 3, 5, 7, 9}

In [140]:
print(even_numbers.symmetric_difference({1,2,3,4,5,6,7,8,9,10}))

{1, 2, 3, 5, 7, 9, 12, 14, 16, 18, 20, 24, 26, 28, 30, 52}

## DICTIONARIES

A dictionary is a collection of key:value pairs that is unordered, indexed and mutable. It is quite similar to lists in terms of index but unlike a list whose index is numeric (integer) and not denoted in its definition, a dictionary's index is a key which can be of any data type. The key:value pairs are enclosed in  curly brackets {}. To understand dictionary, let's look at lists again.

In [141]:
me_list = ['Amanda', 20, 167.5, 56.5, 'brown', 'brown']

This list describes me: my name, my age, my height (in centimeters), my weight (in kilograms), my hair color and my eye color. We know we can access this information individually by index. But, it would be easy to get mixed up about which data is which (for example, which `'brown'` is hair color and which is eye color?), or where I should find it (will age always be at index 1?).

In [142]:
print(f'My name is {me_list[0]}')
print(f'My hair color is {me_list[4]}')

My name is Amanda
My hair color is brown


A better solution would be a data structure where we could index using meaningful values. For example instead of using `me[0]` to recover `Dylan`, I could use `me['name']`. Instead of hair color being `me[4]`, it could be `me['hair']`. This feature is the central characteristic of the Python dictionary.

In [18]:
me = {'name':'Amanda','age': 20,'height': 167.5,'weight': 56.5,'hair': 'brown','eye': 'brown'}

## ACCESSING ITEMS IN A DICTIONARY

Although a dictionary is unordered, we can access any of its items because it is indexed. To access any item in a dictionary, we use its key name enclosed in square brackets.

In [19]:
print(f"My name is {me['name']}")
print(f"My hair color is {me['hair']}")

My name is Amanda
My hair color is brown

We can also use the get() method to access a dictionary item. This method returns the value of the specified key if the key exists in the dictionary otherwise, it returns None.

In [20]:
me['height']

167.5

In [21]:
me.get('height')

167.5

In [22]:
me['nationality']

KeyError: 'nationality'

The get method can also take a second parameter which is a default value to be returned instead of None in case the specified key does not exist.

In [24]:
print(me.get('nationality'))

None

In [25]:
me.get('nationality', 'Nigerian')

'Nigerian'

In [148]:
me.get('nationality', 'British')

'British'

In [26]:
print(me)

{'name': 'Amanda', 'age': 20, 'height': 167.5, 'weight': 56.5, 'hair': 'brown', 'eye': 'brown'}

## DICTIONARY MUTABILITY

Dictionaries are mutable i.e they can be changed. The syntax to mutate a dictionary is similar to that of a list except that we specify the key name instead of the position. We can also add a new key:value pair using same syntax.  
**NOTE:** dictionary keys are immutable because the keys are hashed to assign key-value pairs to memory. Therefore, keys must be immutable and unique, similar to the elements of a `set`. However, values don't have these restrictions.

In [27]:
me['height'] = 180.7

In [28]:
##Adding a new key:value pair
me['hasDog'] = False
print(me)

{'name': 'Amanda', 'age': 20, 'height': 180.7, 'weight': 56.5, 'hair': 'brown', 'eye': 'brown', 'hasDog': False}

In [29]:
me['nationality'] = me.get('nationality', 'Nigerian')
me

{'name': 'Amanda',
 'age': 20,
 'height': 180.7,
 'weight': 56.5,
 'hair': 'brown',
 'eye': 'brown',
 'hasDog': False,
 'nationality': 'Nigerian'}

In [30]:
#deleting a key
del me['hasDog']
print(me)

{'name': 'Amanda', 'age': 20, 'height': 180.7, 'weight': 56.5, 'hair': 'brown', 'eye': 'brown', 'nationality': 'Nigerian'}

## LOOPING THROUGH A DICTIONARY

With for loop, we can iterate through the keys and / or values of a dictionary. Let's see the various ways to achieve it.

In [31]:
for k in me:
    print (k)

name
age
height
weight
hair
eye
nationality

As seen in the above code, only the key names were printed. When you loop through a dictionary, it only accesses its keys. But what if we need to access its values. How do we go about it?

In [33]:
for k in me:
    print(me[k])

Amanda
20
180.7
56.5
brown
brown
Nigerian

Apart from using the key name within square brackets, the dictionary object has a method called values() which allows us to access all dictionary values.

In [156]:
me.values()

dict_values(['Amanda', 20, 180.7, 56.5, 'brown', 'brown', 'Nigerian'])

In [34]:
for v in me.values():
    print(v)

Amanda
20
180.7
56.5
brown
brown
Nigerian

We have seen how to access a dictionary keys only or values only. But how do i know what each value represent? To access each key:value pair, we use the items() method. The items() method returns a list of tuples with each tuple containing the key and value pair.

In [158]:
me.items()

dict_items([('name', 'Amanda'), ('age', 20), ('height', 180.7), ('weight', 56.5), ('hair', 'brown'), ('eye', 'brown'), ('nationality', 'Nigerian')])

In [35]:
for item in me.items():
    print(item)

('name', 'Amanda')
('age', 20)
('height', 180.7)
('weight', 56.5)
('hair', 'brown')
('eye', 'brown')
('nationality', 'Nigerian')

In [37]:
for key , value in me.items():
    print(f"{key} : {value}")

name : Amanda
age : 20
height : 180.7
weight : 56.5
hair : brown
eye : brown
nationality : Nigerian

## DICTIONARY OPERATORS
The dictionary object has two operators: **in** and **not in**. These operators check if the key exists in the dictionary or not.

In [38]:
print('height' in me)

True

In [39]:
print('year' in me)

False

In [40]:
print('height' not in me)

False

In [41]:
print('year' not in me)

True

## DICTIONARY METHODS
In this lesson, we are going to use some of the commonly used dictionary methods. For more information on other methods, check [Dictionary methods](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

In [164]:
#update the dictionary with key/value pairs. This method overwrites existing keys.
me.update({'dob':'20:3:1990','complexion': 'dark'})
print(me)

{'name': 'Amanda', 'age': 20, 'height': 180.7, 'weight': 56.5, 'hair': 'brown', 'eye': 'brown', 'nationality': 'Nigerian', 'dob': '20:3:1990', 'complexion': 'dark'}

In [165]:
#Return an iterator over the keys of the dictionary
iterator = iter(me)
print(next(iterator))
print(next(iterator))

name
age

In [166]:
#return a copy of the dictionary
me_copy = me.copy()
print(me_copy)

{'name': 'Amanda', 'age': 20, 'height': 180.7, 'weight': 56.5, 'hair': 'brown', 'eye': 'brown', 'nationality': 'Nigerian', 'dob': '20:3:1990', 'complexion': 'dark'}

In [167]:
#clear the dictionary
me_copy.clear()
print(me_copy)

{}

In [168]:
#return the value of a key. set a default value if key does not exist. returns none if default is not set.
print(me.get('age', 0))
print(me.get('hasDog', True))

20
True

In [169]:
print(me.get('relationship'))

None

{'name': 'Emmanuel'}

## SWITCHING DATA STRUCTURES

Each data structure has different properties and characteristics. Sometimes we will want to change one data structure to another to take advantage of these differences. We can achieve this using the data structure's constructors.

In [44]:
ex_list = [2, 'apple', True, 3.5, 2]
ex_tuple = tuple(ex_list)
print(ex_tuple)

(2, 'apple', True, 3.5, 2)

In [45]:
ex_set = set (ex_tuple)
print(ex_set)

{True, 2, 3.5, 'apple'}

In [46]:
ex_list = list(ex_set) #duplicates lost beacause of set
print(ex_list)

[True, 2, 3.5, 'apple']

In [50]:
dict(((1, "a"), (2, "b")))

{1: 'a', 2: 'b'}

In [43]:
dict([('name', 'Tobi'),('name', 'Emmanuel')])

{'name': 'Emmanuel'}

## SORTING DATA STRUCTURES
Out of all the data structures we have studied so far, only list has a sort method. However, Python also has a sorted() function, which returns a sorted list of other data structures. By default, the sorted() function applied to a dictionary makes a list of the sorted dictionary keys. We must use the items() method if we want our output to be a list of the key-value pairs.

In [51]:
a = [8, 9, 2, 1, 0]
a.sort()
a

[0, 1, 2, 8, 9]

In [53]:
food = ['apple', 'rice', 'mango', 'Apple', 'Orange']
food.sort()
food

['Apple', 'Orange', 'apple', 'mango', 'rice']

In [58]:
mixed_list = [4, 'a', 6.7, 'b']
mixed_list = list(map(str,mixed_list ))

In [60]:
mixed_list.sort(reverse = True)
mixed_list

['b', 'a', '6.7', '4']

In [61]:
ex_list

[True, 2, 3.5, 'apple']

In [62]:
ex_list = list(map(str,ex_list))
#using the list sort() method
ex_list.sort()
print(ex_list) #uppercase letters comes first befor lowercase

['2', '3.5', 'True', 'apple']

In the above code, we used the map function to convert each item in the sequence to a string. This is because the sort function cannot sort a sequence containing both numeric and non numeric values. The map function applies the specified function to every item in a sequence. To know more about this function, visit https://www.tutorialsteacher.com/python/python-map-function

In [63]:
#using the sorted function
print(sorted(ex_list))

['2', '3.5', 'True', 'apple']

In [175]:
print(sorted(map(str,ex_set)))

['2', '3.5', 'True', 'apple']

In [176]:
print(sorted(map(str,ex_tuple)))

['2', '2', '3.5', 'True', 'apple']

In [64]:
print(sorted(me))

['age', 'eye', 'hair', 'height', 'name', 'nationality', 'weight']

In [71]:
print(sorted(me.items()))

[('age', 20), ('eye', 'brown'), ('hair', 'brown'), ('height', 180.7), ('name', 'Amanda'), ('nationality', 'Nigerian'), ('weight', 56.5)]

In [74]:
a = [(1, 7), (3, 2), (19, 0), (9,1)]
sorted(a, key = lambda x: x[1], reverse = True)

[(1, 7), (3, 2), (9, 1), (19, 0)]

In [67]:
print(sorted(me.items()))

[('age', 20), ('eye', 'brown'), ('hair', 'brown'), ('height', 180.7), ('name', 'Amanda'), ('nationality', 'Nigerian'), ('weight', 56.5)]

## ZIP() FUNCTION

The zip() function combines two or more sequences/iterators together into a list of tuples. If the sequences/iterators are of different length, the smallest length determines the length of the zip object. Zip() function can be very handy for creating a dictionary. Let's see how to do this using the me_list we created before. We are going to create another list to store key values matching each value in the me_list.

In [75]:
value_list = ['Aminat', 15, 160, 55,'black', 'brown']
key_list = ['name', 'age', 'height', 'weight', 'hair', 'eye']

The zip() returns a zip object so we will need to convert it to a list. We can then convert the list of tuples to a dictionary using the dict() constructor.

In [77]:
list(zip(key_list, value_list))

[('name', 'Aminat'),
 ('age', 15),
 ('height', 160),
 ('weight', 55),
 ('hair', 'black'),
 ('eye', 'brown')]

In [78]:
key_value_pairs = list(zip(key_list, value_list))
print(key_value_pairs)

[('name', 'Aminat'), ('age', 15), ('height', 160), ('weight', 55), ('hair', 'black'), ('eye', 'brown')]

In [79]:
me_dict = dict(key_value_pairs)
print(me_dict)

{'name': 'Aminat', 'age': 15, 'height': 160, 'weight': 55, 'hair': 'black', 'eye': 'brown'}

In [82]:
list(zip(me_dict, ['a', 'b', 'c', 'd', 'e', 'f']))

[('name', 'a'),
 ('age', 'b'),
 ('height', 'c'),
 ('weight', 'd'),
 ('hair', 'e'),
 ('eye', 'f')]

## EXERCISE

Write a program that prints the letters contained in a multiline string variable in decreasing order of frequency. Your program should convert all the input to lower case and only count the letters a-z.
Your program should not count spaces, digits, punctuation, or anything other than the
letters a-z.

In [9]:
string = """
Write a program that prints the letters contained 
in a multiline string variable in decreasing order 
of frequency. Your program should convert all the 
input to lower case and only count the letters a-z.
Your program should not count spaces, digits, 
punctuation, or anything other than the letters a-z.
"""
string = string.lower()
d = {}
for char in string:
    if char.isalpha():
        freq = string.count(char)
        d[char] = freq
sorted_dict = sorted(d.items(), key = lambda x:x[1],
                     reverse = True )
print(sorted_dict)

[('t', 29), ('e', 24), ('r', 23), ('n', 21), ('o', 20), ('a', 19), ('i', 15), ('s', 12), ('l', 12), ('u', 11), ('h', 10), ('c', 9), ('p', 7), ('g', 7), ('d', 7), ('y', 5), ('m', 4), ('w', 2), ('v', 2), ('f', 2), ('z', 2), ('b', 1), ('q', 1)]

In [4]:
print(d)

{'w': 2, 'r': 23, 'i': 15, 't': 29, 'e': 24, 'a': 19, 'p': 7, 'o': 20, 'g': 7, 'm': 4, 'h': 10, 'n': 21, 's': 12, 'l': 12, 'c': 9, 'd': 7, 'u': 11, 'v': 2, 'b': 1, 'f': 2, 'q': 1, 'y': 5, 'z': 2}

[('t', 29),
 ('e', 24),
 ('r', 23),
 ('n', 21),
 ('o', 20),
 ('a', 19),
 ('i', 15),
 ('s', 12),
 ('l', 12),
 ('u', 11),
 ('h', 10),
 ('c', 9),
 ('p', 7),
 ('g', 7),
 ('d', 7),
 ('y', 5),
 ('m', 4),
 ('w', 2),
 ('v', 2),
 ('f', 2),
 ('z', 2),
 ('b', 1),
 ('q', 1)]

In [3]:
a = [1,3,4,6]
b = ['a', 'd', 'e']
list(zip(a, b))

[(1, 'a'), (3, 'd'), (4, 'e')]

In [6]:
mixed_list = ['a', 1, 4.3]

In [8]:
list(map(str, mixed_list))

['a', '1', '4.3']